@model EventFormViewModel

<form asp-action="@(Model?.Id > 0 ? "Edit" : "Create")"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModelBegin"
      data-ajax-success="onModelSuccess"
      data-ajax-failure="onModelFailure"
      data-ajax-complete="onModelComplete">
    @if (Model?.Id > 0)
    {
        <input type="hidden" asp-for="Id" />
    }
    <div class="my-4">
        <div class="form-floating my-4">
            <input type="text" class="form-control" placeholder="Name" asp-for="Name" />
            <label asp-for="Name"></label>
        </div>
        <span asp-validation-for="Name" class="text-danger d-block"></span>
    </div>
    <div class="form-floating my-4">
        <label asp-for="SelectTemplatesId"></label>
        <select multiple class="form-select form-select-solid js-select2" data-placeholder="Select Template" asp-for="SelectTemplatesId" asp-items="@Model.Templates">
            
        </select>
        <span asp-validation-for="SelectTemplatesId" class="text-danger d-block"></span>
    </div>
    <div class="my-4">
        <div class="form-floating mb-2">
            <input type="date" class="form-control form-control-solid js-datepicker" id="js-datepicker" data-getpublishingdate="@Model.EventDate.Date.ToString("yyyy-MM-dd")" placeholder="Event Date" asp-for="EventDate" />
            <label asp-for="EventDate"></label>
        </div>
        <span asp-validation-for="EventDate" class="text-danger d-block"></span>
    </div>
    <div class="my-4">
        <div class="form-floating mb-2">
            <input type="date" class="form-control form-control-solid js-datepicker" id="js-datepicker" data-getpublishingdate="@Model.EventEndDate.Date.ToString("yyyy-MM-dd")" placeholder="Event Date" asp-for="EventEndDate" />
            <label asp-for="EventEndDate"></label>
        </div>
        <span asp-validation-for="EventEndDate" class="text-danger d-block"></span>
    </div>
    <div class="my-4">
        <div class="form-floating mb-2">
            <input type="date" class="form-control form-control-solid js-datepicker" id="js-datepicker" data-getpublishingdate="@Model.EventBeginRegisterDate.Date.ToString("yyyy-MM-dd")" placeholder="Event Begin Register Date" asp-for="EventBeginRegisterDate" />
            <label asp-for="EventBeginRegisterDate"></label>
        </div>
        <span asp-validation-for="EventBeginRegisterDate" class="text-danger d-block"></span>
    </div>
    <partial name="_modelfooter" />
</form>