@inject SignInManager<ApplicationUser> SignInManager

@{
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    var currentLanguage = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}


<!DOCTYPE html>
<html lang="en" dir="@(isRTL ? "rtl" : "ltr")" style="direction: @(isRTL ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Managment</title>
    @if (isRTL)
    {
        <link rel="stylesheet" href="~/assets/css/plugins.bundle.rtl.css" type="text/css" />
        <link rel="stylesheet" href="~/assets/css/style.bundle.rtl.css" type="text/css" />
    }
    <link rel="stylesheet" href="~/assets/css/plugins.bundle.css" />
    <link rel="stylesheet" href="~/assets/css/style.bundle.css" />
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @if (isRTL)
    {
        <link rel="stylesheet" href="~/css/site.rtl.css" asp-append-version="true" />
    }
</head>
<body id="kt_app_body" data-kt-app-header-fixed="true" data-kt-app-header-fixed-mobile="true" class="app-default">
    <!--begin::Theme mode setup on page load-->
    <script>
        var defaultThemeMode = "light";
        var themeMode;

        if ( document.documentElement ) {
            if ( document.documentElement.hasAttribute("data-bs-theme-mode")) {
                themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
            } else {
                if ( localStorage.getItem("data-bs-theme") !== null ) {
                    themeMode = localStorage.getItem("data-bs-theme");
                } else {
                    themeMode = defaultThemeMode;
                }
            }

            if (themeMode === "system") {
                themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            }

            document.documentElement.setAttribute("data-bs-theme", themeMode);
        }
    </script>
    <!--end::Theme mode setup on page load-->

    <span id="CurrentLanguage" class="d-none">@currentLanguage</span>
    <!--begin::Theme mode setup on page load-->
    <script>var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if (localStorage.getItem("data-theme") !== null) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }</script>
    <!--end::Theme mode setup on page load-->
    <!--begin:: no script-->
    <noscript>
        <div class="position-fixed h-100 w-100 bg-white text-center pt-20" style="z-index: 30000000000;">
            <h1 class="text-danger">Javascript is disabled</h1>
            <p class="pt-3 text-muted">Please enable javascript and refresh the page</p>
        </div>
    </noscript>
    <!--begin:: page loader-->
    <div class="page-loader">
        <span class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </span>
    </div>
    <!--end:: page loader-->

    <!--begin::Main-->
    <!--begin::Root-->
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
            <!--begin::Page-->
            <div class="app-page  flex-column flex-column-fluid " id="kt_app_page">
                <partial name="_Header" />
                <div class="app-wrapper  d-flex flex-column flex-column-fluid mt-5" id="kt_app_wrapper">
                    <div class="app-container  container-fluid d-flex flex-row-fluid mt-5">
                        <!--begin::Main-->
                        <div class="app-main flex-column flex-row-fluid " id="kt_app_main">
                            <!--begin::Content wrapper-->
                            <div class="d-flex flex-column flex-column-fluid">
                                <!--begin::Content-->
                                <div id="kt_app_content" class="app-content  flex-column-fluid ">
                                    <div class="row flex-row-fluid">
                                        <div class="col-lg-12">
                                         @RenderBody()
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--end::Container-->
                        </div>
                    <!--end::Content wrapper-->
                    </div>
                <!--end::Wrapper-->
                </div>
            <!--end::Page-->
            </div>
        </div>
    }
    else
    {
        @RenderBody()
    }
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
        <span class="svg-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
                <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!--end::Scrolltop-->
    <!-- show model in click add or ediet like a form  -->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @* Model Title render heir *@
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @* Model Body render heir *@
                </div>

            </div>
        </div>
    </div>

    <!-- Show Sucess or error message -->
    <span class="d-none" id="message">@TempData["message"]</span>
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/assets/js/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/localization/@(currentLanguage).js" asp-append-version="true"></script>
    @await RenderSectionAsync("Plugins", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>